@import "variables"
@import "mixins"

.excel-formula
  height: $formula-height
  padding-right: 1%
  display: flex
  align-items: center
  border: $border
  border-top: 0
  .formula
    height: 100%
    padding: 4px 10px
    overflow: hidden
    width: auto
    outline: none
    cursor: text
    width: 100%
    color: #444
  .label
    width: $first-column-width
    font-size: 18px
    text-align: center
    border-right: $border




