//@import "~normalize.css"
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

@import "variables"
@import "mixins"

@import "header"
@import "toolbar"
@import "formula"
@import "table"
@import "home"

*
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-size: 12px
  color: black
  overflow: hidden

.container
  //max-width: $max-width
  color: #888
  font-size: .8rem







