@import "variables"
@import "mixins"

.excel-table
  position: relative
  top: $header-height + $toolbar-height+$formula-height
  overflow: auto
  border: $border
  border-top: 0
  border-bottom: 0
  max-height: 1000px
  .first-row
    position: fixed
  .table-content
    margin-top: $cell-height
    z-index: -1
  .row
    display: flex
    min-height: 20px
    height: $cell-height
    .row-data
      display: flex
    .row-info
      @extend .cell, .column-header
      width: 40px !important
      height: $cell-height
    .cell
      width: $cell-width
      border: $border
      min-width: 40px
      border-top: 0
      border-left: 0
      padding: 5px
      outline: none
      white-space: nowrap
      &.selected
        border: none
        outline: 2px solid #3c74ff
        z-index: 2

    .column-header
      @extend .cell
      +flexCenter
      background: #f8f9fa

      .row-resizer,.column-resizer
        position: absolute
        right: 0
        bottom: 0
        z-index: 1000
        opacity: 0
        background: $primary-color
        &:hover
          opacity: 1!important
      .row-resizer
        left: 0
        height: 4px
        width: 100%
        &:hover
          cursor: row-resize
        &:active
          width: 100vw
      .column-resizer
        top: 0
        width: 4px
        height: 100%
        &:hover
          cursor: col-resize
        &:active
          height: 100vh










